Student-Request-System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.studentservicesrequestsystem.org"
    targetNamespace="http://www.studentservicesrequestsystem.org"
    elementFormDefault="qualified">

    <xs:element name="StudentServicesRequestSystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Request" type="RequestType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RequestType">
        <xs:sequence>
            <xs:element name="StudentName" type="xs:string"/>
            <xs:element name="Course">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="BSIT"/>
                        <xs:enumeration value="BSCS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Year">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Section">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-C]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RequestType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ID"/>
                        <xs:enumeration value="TOR"/>
                        <xs:enumeration value="Certificate"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Pending"/>
                        <xs:enumeration value="Approved"/>
                        <xs:enumeration value="Released"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DateRequested" type="xs:date"/>
            <xs:element name="ReleaseDate" type="xs:date"/>
        </xs:sequence>
        <xs:attribute name="studentID" type="StudentIDType" use="required"/>
        
        <xs:assert test="ReleaseDate ge DateRequested"/>
    </xs:complexType>

    <xs:simpleType name="StudentIDType">
        <xs:restriction base="xs:string">
            <xs:pattern value="23-\d{5}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>