Student-Request-System.dtd

<!ELEMENT StudentServicesRequestSystem (Request+)>

<!ELEMENT Request (
    StudentName,
    Course,
    Year,
    Section,
    RequestType,
    Status,
    DateRequested,
    ReleaseDate
)>
<!ATTLIST Request studentID CDATA #REQUIRED>

<!ELEMENT StudentName (#PCDATA)>
<!ELEMENT Course (#PCDATA)>
<!ELEMENT Year (#PCDATA)>
<!ELEMENT Section (#PCDATA)>
<!ELEMENT RequestType (#PCDATA)>
<!ELEMENT Status (#PCDATA)>
<!ELEMENT DateRequested (#PCDATA)>
<!ELEMENT ReleaseDate (#PCDATA)>